@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --gray: 128, 128, 128;
  --light-green: 24, 156, 140;
  --dark-green: 16, 110, 96;
  --chat-blue: 16, 77, 110;
  --chat-green: 16, 110, 49;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--black));
  background: rgb(var(--white));
}

@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
}
